<% content_for :ng_controller, "BoardController" %>
<% content_for :subtitle do %>
	<%= @board.name %> <span id="options-button" ng-click="openOptions()"><%= fa_icon "gears" %></span>
<% end %>

<div class="error" ng-show="error != null">{{error}}</div>

<div ng-show="loading">Loading</div>
<div ng-show="!loading && schedules.length == 0" id="no-schedules">
	You have no schedules. Create one by clicking the button below.
</div>
<table border=0 ng-repeat="schedule in schedules" class="schedule {{schedule.schedule_type}}" ng-controller="ScheduleController">
	<thead>
		<tr>
			<th class="schedule-name">
				<span class="clickable">{{schedule.name}}</span>
				<span class="deletable" ng-click="deleteSchedule(schedule)"><%= fa_icon "times" %></span>
			</th>
			<th ng-repeat="point in schedule.points" class="point-header">{{point.display}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="task in schedule.schedule_tasks">
			<td class="task-name">
				<span class="clickable" ng-click="editTask($event)">{{task.name}}</span>
				<span class="deletable" ng-click="deleteTask(task)"><%= fa_icon "times" %></span>
			</td>
			<td ng-repeat="point in schedule.points" class="task-point" ng-click="markTask()">
				<span ng-show="task.points.indexOf(point.value) != -1" class="complete"><%= fa_icon "check" %></span>
				<span ng-show="task.points.indexOf(point.value) == -1 && point.relativity == null" class="incomplete"><%= fa_icon "times" %></span>
				<span ng-show="task.points.indexOf(point.value) == -1 && point.relativity == '-'" class="past"><%= fa_icon "circle-o" %></span>
				<span ng-show="task.points.indexOf(point.value) == -1 && point.relativity == '+'" class="future"><%= fa_icon "times" %></span>
			</td>
		</tr>
		<tr ng-show="schedule.tasks.length < 1">
			<td>This schedule has no tasks</td>
		</tr>
		<tr>
			<td colspan={{schedule.points.length + 1}}>
				<a class="button tiny" ng-click="addTask(schedule.id)">Add Task</a>
			</td>
		</tr>
	</tbody>
</table>

<%= render partial: "modal_new_schedule" %>
<%= render partial: "modal_board_options" %>

<div id="actions">
	<a class="button" ng-click="createSchedule()">Add Schedule</a>
</div>

<%= javascript_globals(board: @board) %>