<!DOCTYPE html>
<html>
<head>
  <title>Fate Task</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= render partial: "brand" %>
	<div id="subtitle"><%= yield :subtitle %></div>
</header>

<main>
	<%= yield %>
</main>

<footer>
	<div id="copyright">&copy; Copyright Lee Miller <%= Time.now.year %></div>
	<div id="footer-links">
		<a href="http://blog.iarke.us"><i class="icon-sign-blank"></i></a>
		<a href="https://twitter.com/#!/arkeus"><i class="icon-twitter-sign"></i></a>
		<a href="https://github.com/arkeus"><i class="icon-github-sign"></i></a>
		<a href="https://www.facebook.com/arkeus"><i class="icon-facebook-sign"></i></a>
		<a href="https://plus.google.com/118186154411847048977/about"><i class="icon-google-plus-sign"></i></a>
	</div>
</footer>

</body>
</html>
